<h1>Form</h1>
<form class="form-horizontal" id="function-from" role="form">
   <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" id="inputEmail3" ng-model="currentFunction.name" placeholder="name">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">Signature</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="currentFunction.signature" placeholder="{{ currentFunction.name}}"/>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">Description</label>
      <div class="col-sm-9">
         <textarea class="form-control" id="description" ng-trim="false" ng-model="currentFunction.description" rows="5">
         </textarea>
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">Code</label>
      <div class="col-sm-9">
         <textarea class="form-control" ng-model="currentFunction.code" rows="5">
         </textarea>
      </div>
   </div>
</form>
