<h1>Content</h1>
<form class="form-horizontal" role="form">
   <div class="form-group">
      <label class="col-sm-3 control-label">Author</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="currentResource.author">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">Title</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="currentResource.title">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">Time</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="currentResource.time">
      </div>
   </div>
   <div class="form-group">
      <label class="col-sm-3 control-label">URL</label>
      <div class="col-sm-9">
         <input type="text" class="form-control" ng-model="currentResource.url">
      </div>
   </div>
</form>
